@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Gentium Plus';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/Gentium_Plus/GentiumPlus-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: 'Gentium Plus';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("/Gentium_Plus/GentiumPlus-Italic.ttf") format("truetype");
  }

  @font-face {
    font-family: 'Gentium Plus';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/Gentium_Plus/GentiumPlus-Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: 'Gentium Plus';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("/Gentium_Plus/GentiumPlus-BoldItalic.ttf") format("truetype");
  }

  @font-face {
    font-family: 'Fondamento';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/Fondamento/Fondamento-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: 'Fondamento';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("/Fondamento/Fondamento-Italic.ttf") format("truetype");
  }

  html {
    font-family: "Gentium Plus", serif;
  }
}
